.pardizebody{
    margin: auto;
    background-color: #f8f8f8;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    color: rgb(34, 0, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    
  
}

.pardizelogin {
    width: 400px;
    background-color: #000000;
    box-shadow: 0 2px 11px #f300ef;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  }
  
  .pardizelogin .title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.7em;
    margin-top: 10px;
    margin-top: 1em;
    color: rgb(43, 15, 255);
    /* text-shadow:5px 3px 8px #08b9ff; */
  }
  
  .pardizelogin .intro {
    text-align: center;
    margin: 15px 0 15px 0;
  }
  
  .pardizelogin .pardizeform {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    width: 100%;
    padding-left: 45px;
    padding-right: 45px;
    /* padding: 0 10px; */
  }
  
  .pardizelogin .pardizeform .input-group {
    margin-bottom: 15px;
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  .pardizelogin .pardizeform .input-group .form-control {
    border-right: none;
  }
  
  .pardizelogin .pardizeform .input-group .input-group-text {
    line-height: 22px;
    background-color: #f1f1f1;
  }
  /* .btn1{
    border-radius: 5px;
    height: 30px;
  }
  #btnbt{
    margin: auto;
    width: 35%;
    
  } */
  #paradizebtn{
    width: 95px;
    font-size: 13px;
    background-color: #2b28fc;
    color: white;
  }
  #paradizebtn:hover{
    text-decoration: none;
    color: #e7e7eb;
    background-color: #605dff;
  }