@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* ===== Navabar section ======*/
#mylogo{
    margin-top: -30px;
}
.paradize{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 45px;
    
    
     
}


.navbar1{

    float: right;
    display: inline;
    padding-left: 100px;
     
}
#navbar1sub{

  margin-left: 25px;
  color: #000;
  
}
.navbar1 li{
    padding-left: 20px;
    /* color: #000; */
    
}
.navbar1 li a{
    font-family:inherit;
    font-size: 15px;
    color: #db0e0e;
    /* border-color: #000000; */
    
}
.navbar1 li a:hover{
    /* color:  rgb(0, 0, 0); */
    color: #131212;
    text-decoration: underline red;
    /* background-color: rgb(251, 152, 198); */
    border-radius: 5px;
    
}
#ordrenum{
    margin-top: -75px;
    margin-left: 55px;
}
.dropdown-content1{
    display: none;
    position: absolute;
    background-color: #f88484;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(110, 16, 16, 0.2);
    z-index: 1;
}
#navicons{
    margin-right: 3px;
}
.ac{
    font-size: 12x;
}
#btnb{
    margin-left: 50px;
}

/* ===== Navabar section End ======*/

/* ===== Carousel section ======*/

#carouselExampleCaptions{
    margin: auto;
}
.mycarousel1{
    width: 100%;
    height: 550px; 
    margin: auto;
    background: linear-gradient(to right,rgb(36, 36, 36),rgb(0, 0, 0));


    /* background-color: rgb(255, 114, 0); */
}

.mycarousel2{
    width: 100%;
    height: 550px; 
    margin: auto;
    background: linear-gradient(to right,rgb(255, 168, 7),rgb(244, 88, 88));

    /* background-color: rgb(255, 114, 0); */
}
.mycarousel3{
    width: 100%;
    height: 550px; 
    margin: auto;
    background: linear-gradient(to right,rgb(233, 155, 164),rgb(231, 56, 56));
    /* background-color: rgb(255, 114, 0); */
}

.mycarousel1 #navimg1,.mycarousel2 #navimg1,.mycarousel3 #navimg1{
    margin-top: 50px;
    
    /* margin: auto; */
    /* margin-top: 50px;
    padding-bottom: 25px;
    border-radius: 100px; */

}
.mycarousel1 #navimg1 .rc{
    box-shadow: 2px 2px white;
}

.mycarousel1 h2{ 
    font-size: 10px;
    color: #f9f9f9;
    font-family:cursive;
    padding-top: 175px;
    margin-top: 150px;
    font-size: 10px;
    text-shadow: 5px 2px 8px #f008ba;
}
.mycarousel1 h3{
    font-family:cursive;
    margin-top: 20px;
    text-shadow: 5px 2px 8px #f008ba;
    color: white;
    
}
#animate1 {
    /* display: inline-block; */
    margin: 0 0.2rem;
    font-size: 60px;
    animation: bounceInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  #animate2 {
    color: white;

    /* display: inline-block; */
    margin: 0 1.5rem;
    color: white;
    animation: bounceInLeft; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }
#btnbt{
    border-radius: 25px;
    width: 200px;
    color: rgb(11, 11, 11);
    background-color: #ffffff;
}
#btnbt:hover{
    color: rgb(255, 255, 255);
    background-color: #f9780f;
    
}
#navimg2{
    margin-left: 150px;
    border-radius: 1px solid white;
}

/* ===== Carousel section End======*/

/* ===== Why should section Start======*/
#texthead{
    color: #000000;
}
.row1row{
    width: 100%;
    margin: auto;
    height: auto;
    
    
}
#colimg style img{
    width: 100px;
    height: 100px;
}
.whycol{
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgb(152, 150, 146);
    color: #f7f3f3;
    background-color: #000000;
    
   
}
.whycol p{
    font-family:'Times New Roman', Times, serif;
    font-size: 14px;
}




    /* ===== Why should section End======*/  
 
   /* ======== About Section Start ====== */

 #aboutimg2{
    /* border: 1px solid rgb(24, 23, 23); */
    border-radius: 5px;
    margin: 0;
    margin-left: -10px;
   
 }
 .aboutcol2{
    background-color: rgb(250, 250, 250);
 }
 .aboutcol2 p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    text-align: justify;
    margin-top: -20px;
 }
 .aboutcol2 #aboutpz{
    color: #db0e0e;
    margin-top: 10px;
    font-size: 20px;
    text-decoration: underline;
    text-shadow: 2px 5px 5px rgb(176, 156, 156);
 }
 .aboutcontainer{
    background-color: #fcfcfc;
    margin: auto;
    padding: auto;
}
.aboutimg{
    width: 100%;
    background:linear-gradient(to right,rgba(12, 12, 12, 0.9),rgba(0, 0, 0, 0.9));
    
}
.aboutimage{
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    border: 2px dashed rgb(255, 255, 255);
}
.centered{
    width: 92%;
    color: white;
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    bottom: -50px;
    padding: 150px;
    transform: translate(-50%,-50%);
    background:linear-gradient(to right,rgba(12, 12, 12, 0.5),rgba(0, 0, 0, 0.5));

}

#abouth3{  
    margin-top: 50px;  
    width: 20%;
    font-family:'Courier New', Courier, monospace;
    border: 1px dotted rgb(6, 6, 6);
    color: rgb(249, 10, 113);
    /* text-decoration: underline red; */

}
#abouth5{  
    margin-left: 25px;
    width: 17%;
    font-size: 22px;
    border-bottom: 1px dotted rgb(6, 6, 6);
    font-family:'Courier New', Courier, monospace;
    color: rgb(249, 10, 113);
    /* text-shadow: 5px 5px 8px crimson; */
}
#aboutp{

    color: black;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 25px;
    

}
#qid{
    font-size: 25px;
    color: rgb(255, 0, 157);
}
.div2{
    
    background: url("/static/images/bookimg2.jpg") no-repeat;
    opacity: 0.3;
    background:linear-gradient(to right,rgba(12, 12, 12, 0.5),rgba(0, 0, 0, 0.5),url("/static/images/bookimg2.jpg"));
    height: 250px;
    width: 250px;
    /* background-position: 109vh; */
    background-size: cover;
    
}
   /* ======== About Section End ====== */

      /* ======== offer Section start ====== */ 

#offercard{
    padding-left: 100px;
    background: linear-gradient(to left,rgb(73, 244, 167),#00771c)
}
#offercard1{
    padding-left: 100px;
    background: linear-gradient(to left,rgb(240, 6, 150),#f17fd6)
}
#offercard2{
    padding-left: 100px;
    background: linear-gradient(to left,rgb(5, 82, 247),#7f8ff5)
}
#offercard img,#offercard1 img,#offercard2 img{
    margin-top: 15px;
    margin-left: 35px;
   
}
#middlestar{
    
    margin-top: -80px;
    margin-left: -80px;
    font-size: 30px;
    font-family: cursive;
    color: white;
    text-shadow: 5px 5px 10px rgb(20, 20, 20);
}
#middlestar span{
    color: #f50606;
    text-shadow: 5px 5px 10px rgb(255, 254, 254);

    margin-top: -10px;
    font-size: 18px;
}
#myspan{
    font-family: serif;
    text-decoration:line-through;
}
/* .offerspan{
    display: flex;
    margin-right: 150px;
}
.offerspan span{
    font-size: 20px;
} */
#topleft{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: none;
    font-size: 20px;
    color: white;
}
#checkmenubtn{
    width: 100px;
    padding: 5px;
    margin-left: -85px;
    background-color: #eeeeee;
    color: #000000;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    box-shadow: 5px 5px 10px rgb(20, 20, 20);
}
#checkmenubtn:hover{
    background-color: #22c748;
}
#qtynum{
    width: 55px;
    margin-top: 30px;
}


         /* ======== offer Section end ====== */


        /* ======== Order Section Start ====== */
#searchbtn{
    
    padding: 4px;
    border: 2px solid #07d737;
    margin-left: -5px;
    border-left: none;
    background-color: #07d737;
    
}
#searcho{
    border: 2px solid #07d737;
    padding: 4px;

}
#OrderRow{
    margin: auto;
   
}
#orderimg1{
        padding: 10px;
        border-radius: 5px;
        
}
#OrderRow1{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgb(135, 134, 134);
}
#OrderRow1 img{
    border-radius: 10px;
}
#ordercol4,#ordercol44{
    margin-top: 25px;
}
#ordercol44{
    color: #f10b0b;
}
#searchagain{
    margin: auto;
    float: right;
    border: none;
    background-color: #0a9a27;
    box-shadow: 2px 2px 5px rgb(79, 78, 78);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: -25px;
    color: white;
    cursor: pointer;
}
.ordercol44{
    color: red;
}
#track{
    margin: auto;
    float: right;
    border: none;
    background-color: #e2075f;
    box-shadow: 2px 2px 5px rgb(79, 78, 78);
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: -25px;
    color: white;
    cursor: pointer;
}
#complete{
    margin-left: 140px;
    color: rgb(17, 184, 8);
}
        /* ======== Order Section End ====== */

   /* ======== Menu Section Start ====== */

 #menutext{
    font-size: 18px;
    color: rgb(255, 7, 94);
    text-shadow: 4px 4px 10px rgb(255, 9, 144);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}   
#menutext1{
    text-align: left;
    font-size: 18px;
    color: rgb(255, 24, 116);
    text-shadow: 0px 0px 6px rgb(255, 7, 143);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menuimage{
    position: relative;
    text-align: center;
    color: rgb(11, 11, 11);
    overflow: hidden;
}
.top-left{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 13px;
    border-radius: 6px;
    background: linear-gradient(rgba(234, 234, 19, 0.6),rgba(223, 255, 17, 0.6));
    padding: 2px;
}
.bottom-right{
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 13px;
    padding: 2px;
    border-radius: 6px;
    background: linear-gradient(rgb(255, 255, 255,0.6),rgba(235, 229, 229, 0.6))
}
.menuimage img{
    box-shadow: 4px 4px 12px rgb(139, 137, 137);

}
.menuimage img:hover{
    box-shadow: 2px 4px 12px rgb(20, 20, 20);
    

}
.menucard,.menucard img{
    border-radius: 13px;
}
.menucard{
    background: none;
}
.menutitle{
    margin-top: 5px;
    margin-left: 5px;
}
.menutitle {
    text-decoration: none;
    font-size: 13px;
    block-size: 4px;
    text-align: left;
    color: white;
      
}
.menutitle p{
    line-height: 5px;
    
}
.menutitle span,h6{
    text-decoration: none;
    color: whitesmoke;
    
}
.menutitle img{
    margin-top: -2px;
}
#menuconfirm{
    font-family:times new-roman; 
    color: rgb(0, 0, 81);
    text-decoration: underline red;
}
.menuhead th{
    text-align: center;
    width: 45px;

}
.menuhead #thitems{
    width: 155px;
}
.menudetails p{
    display: block;
    text-align: center;
    color: black;
}
.menuhead td{
    text-align: center;
}
#orderbutton{
    width: 85px;
    border-radius: 5px;
    background: linear-gradient(to top,rgb(255, 255, 255),rgb(240, 240, 240));
    box-shadow: 2px 2px 5px wheat;
    border: none;
    padding: 3px;
}
#orderbutton a{
    color: #000000;
    text-decoration: none;
}
#orderbutton a:hover{
    color: rgb(4, 4, 4);
}
#orderbutton:hover{
    color: rgb(7, 7, 7);
    background: linear-gradient(to top,rgb(58, 245, 55),rgb(144, 229, 142));

} 
/* Add CSS styles for flex container and items */
.product-list {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next row if necessary */
    justify-content: space-between; /* Space items evenly along the main axis */
    list-style: none; /* Remove list styles */
    padding: 0;
}

.product-item {
    flex: 2; /* Grow to fill available space evenly */
    max-width: 30%; /* Limit item width to avoid overcrowding */
    margin: 10px;
    margin-bottom: 10px; /* Add spacing between items */
    border: 1px solid #ccc; /* Add a border for visual separation */
    padding: 10px;
    text-align: center;
}
.product-list .product-item #namep{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-shadow: 0px 5px 5px rgb(172, 170, 170);
}
.product-list .product-item p{
    color: #000000;
    font-weight: 20px;
    font-family: 'Times New Roman', Times, serif ;

}
.product-item button{
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
}
.product-item a{
    color: white;
}
/* Style the "Buy Now" button */
.buy-now-button {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 5px 5px;
    border-radius: 5px;
}
.buy-now-button-add {
    display: block;
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    width: 20%;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.buy-now-button-add:hover{
    color: white;
}
     /* ======== Menu Section End ====== */

     /* ======== Table Section Start ====== */
    
.dateclr,.timeclr{
   color:  #fc76c7;
   font-size: 15px;
   width: 180px;
   text-align: center;
}

.tablerow1{
    border: 1px solid black;
    /* background-color: #eeedf1; */
    background:linear-gradient(to right,rgb(82, 96, 139),rgb(231, 241, 181),rgb(248, 187, 212));
}
#tablerow2{
    border: 1px solid black;
    background-color: #3a3936;
}

.tablerow1 input,.tablerow2 input{
    margin-left: 25px;
    margin-top: 30px;
    height: 30px;
    width: 160px;
    border-radius: 5px;
    border: 1px dotted rgb(1, 167, 12);
    text-align: center;
    
}

.tablerow1 input::placeholder,.tablerow2 input::placeholder{
    color: #ff0c65;
    opacity: 0.4;
    
}
.tablerow1 h6,.tablerow2 h6{
    font-family: cursive;
    margin-top: 25px;
    
}

.tarea{
    margin-top: 30px;
    border-radius: 5px;
    text-align: center;
    border: 1px dotted rgb(1, 167, 12);
}
.tarea::placeholder{
    height: 50px;
    color: #f08a8a;
    text-align: center;
    font-size: 15px;

}

#btn1table{
    border-radius: 10px;
    color: whitesmoke;
    background-color: #db0e0e;
    width: 150px;
    border-color: none;  
}
#btn1table a{
    color: white;
    text-decoration: none;
}
/* .mytable{
    margin-top: 95px;
} */
#bookconfirm{
    font-family:times new-roman; 
    color: rgb(0, 0, 81);
    text-decoration: underline red;
}
.classtable{
    column-gap: 10px;
}
#editform{
    margin-top: 10px ;
    margin: auto;
    /* width: 400px; */
    color: #eeeeee;
    /* background: linear-gradient(to top, rgba(27, 27, 27, 0.9)50%,rgba(27, 27, 27, 0.9)50%) url("{% static 'images/pizza.jpg' %}"); */
    box-shadow: 0 2px 11px #f81574;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
#editform .form-group input{
    margin-bottom: 15px;
    background-color: #282525;
    border-radius: 5px;
    border: 0.5px solid black;
    color: white;
    
}


 /* ======== Table Section End====== */

  /* ======== Review Section Start ====== */

.carouselimg1{
    width: 150px; 

}
.carousel-1{
    background-color: #d0cfd9;
}
.btnprev{
    color: #000000;
}
.reviewp{
    font-family: cursive;
    justify-content:baseline;
}
.blockd{
    height: 100px;
}
 .review{
    
    width: 100%;
    height: 250px;
   
 }
 #reviewtext{
    color: #000;
    font-size: 15px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 

  .reviewbox{
    border-left: 2px solid rgb(21, 21, 21);
    border-top:none ;
    border-bottom: none;
    border-right: none;
  }
 

 /* ======== Review Section End ====== */

 /* ======== Chefs Section Start ====== */
 #cheftext{
    background-color: rgb(249, 249, 249);
 }
 #cheftext h5{
   
    font-size: 20px;
 }
 #cheftext #chefp{
    color: rgba(67, 73, 79, 0.7);
    font-style: italic;
    font-size: 14px;
   
 } 
 .cheftext #chefspan{
    margin-top: -5px;
    font-size: 12px;
    color: rgba(67, 73, 79, 0.7);
 }

/* ======== Chefs Section End ====== */

/* ======== brand Section Start ====== */
#rowbrand img{
    box-shadow: 5px 5px 20px rgb(90, 89, 89);
    border-radius: 10px;
    
}
/* #rowbrand{
    padding: 25px;
} */

/* ======== brand Section end ====== */

/* ======== Conatct Section Start ====== */


#conatctcol{
    background-color: #f7f3f3;
    color: #100f0f;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#conatctcol h6{
    margin-top: -40px;
    /* margin-right: 75px; */
    color: #f66b6b;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#conatctcol span{
    margin-left: 25px;
}
#conatctcol .spaddress{
    margin-left: 140px;
    line-height: -5px;
}
.btntrack{
    background-color: #f47c7c;
    color: #ffffff;
}
.btntrack:hover{
    background-color: #db0e0e;
    color: #f7f3f3;
}
 

/* ======= footer section ========= */

#myfooter{
    background-color: #252323;
    padding: 35px;
    margin-right: 200px;
}
#myfooter h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
}
#myfooter p{
    font-size: 12px;
    color: #cbc7c7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#hrtag{
    color: #cbc7c7;
}
.footerend{
    color: #cbc7c7;
    font-size: 14px;
    margin-bottom: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

} 
.classicons a{
    font-size: 20px;
    padding-left: 10px;
    border-radius: 50px;
}
.classicons #fb{
    color: #3423eb;
}
.classicons #insta{
    color: #e00ea1;
}
.classicons #tw{
    color: #44eeee;
}
.classicons #sky{
    color: #eed815;
}
.classicons #goo{
    color: #ef5a4d;
}
.classicons #fb:hover,.classicons #insta:hover,.classicons #tw:hover,.classicons #goo:hover,.classicons #sky:hover{
    color: #3623ff;
 
}

/* loginform */
.header{
    position:fixed;
    height: 80px;
    width: 100%;
    background: linear-gradient(rgb(0, 0, 0 ,0.5)50%),(rgb(0, 0, 0 ,0.5)50%);
    z-index: 100;
    padding: 0 20px;
}
.nav a{
    text-decoration: none;
    color: rgb(5, 5, 5);
}
.nav{
    margin: 0;
    max-width: 1100px;
    width: 0 auto;

}
nav,.nav_items{
       display: flex;
       list-style: none;
       align-items: center;
       justify-content: space-between;
       
}
.nav_items{
    align-items: center;
    column-gap: 25px;
}
.button:active{
    transform: scale(0.98);
}
#form-open{
    padding: 5px;
    width: 60px;
    cursor: pointer;
}
#form-open:hover{
    background-color: antiquewhite;
    border: none;
}
.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(table-2879213_1280.jpg);
    background-size: cover;
    background-position: center;
}

.form_container{
    background: linear-gradient(rgba(0, 0, 0, 0.5)50%,rgba(0,0,0,0.5)50%);
    padding: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(1.2);
    z-index: 101;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s ease-in-out;
}
.home.show  .form_container{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%,-50%) scale(1);
}
.form_close{
    position: absolute;
    margin-top: -35px;
    right: 45px;
    font-size: 25px;
    cursor: pointer;
    opacity: 0.7;

}
.input_box{
    padding: 10px;
    
}
.input_box input{
    padding: 5px;
}