{% extends "masterfile.html" %}
{% load static %}

{% block body %}

<!-- === Table Section Start === -->
<form action="" method="POST" class="post-form" >
{% csrf_token %}           
        
<div class="container mytable">
    <center><h3 style="font-family:cursive; color: rgb(0, 38, 81);">Book Your Table</h3><br>
    <div class="row">
    <div class="col-lg-5">
      <img src="{% static 'images/booktable1.jpg' %}"  alt="img" width="465px" height="450">

    </div>
    <div class="col-lg-7 tablerow1">
      <h6 style="color: black;"><u>Please Sign Our Guest Book</u></h6>
      <div class="row">
        <div class="col-lg-4 col-sm-12">{{table.Name}}</div>
        <div class="col-lg-4 col-sm-12">{{table.Phone_No}}</div>
        <div class="col-lg-4 col-sm-12">{{table.Email}}</div>            
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">{{table.Person_nos}}</div>
        <div class="col-lg-4 col-sm-12">{{table.Date}}</div>
        <div class="col-lg-4 col-sm-12">{{table.Time}}</div>            
      </div>
      
      {{table.Message}}<br><br>
      <button type="submit" id="btn1table" value="Book a Table" class="btn-danger">Book a table</button>

    </div>
    </div>
  </center>
 </div><br><br><br>
  

  <!-- === Table Section End === -->


{% endblock body %}




