{% extends "masterfile.html" %}
{% load static %}


      
{% block body %}
<div class="pardizebody"> 
    <form action="" method="POST">
            {% csrf_token %}
          
            <div class="pardizelogin">
                <h1 class="title">Log In</h1><br><br>
            <div class="pardizeform">

                <label class="sr-only" for="Username">Username</label>
                <div class="input-group">
                    <i class="input-group-text fa fa-user-o"></i>
                    <input type="Username" class="form-control" name="Username" id="Username" placeholder="Username" value="{{ Username }}">
                </div><br>

                <label class="sr-only" for="Password">Password</label>
                <div class="input-group">
                    <i class="input-group-text fa fa-key"></i>
                    <input type="Password" class="form-control" name="Password" id="Password" placeholder="Password" value="{{ Password }}">
                </div>
                {% for messages  in messages  %}
                        <p style="color: red; margin-left: 50px;">{{messages}}</p>              
                     {% endfor %}
                <br>
                <center><Button type="Submit" id="paradizebtn" value="LogIn" class="btn">LogIn</Button><hr>
                <p class="link">Don't have an account ?<br>
                    <a href="/usersign">Sign Up</a> here</p>
                </center>
              
            </div>
            <br>
        </div>
    </form>
</div> 
{% endblock body %}    

   
                    
                   
        
