{% extends "masterfile.html" %}
{% load static %}

{% block body %}
<body background-image="{% static 'images/barbeque-log.jpg' %}">
    

    <form action="" method="POST" class="post-form">
        {% csrf_token %}
        <div class="login" id="loginid">
            <h1 class="title">Sign Up</h1>
            <p class="intro">Please fill in your information</p>

            <div class="myform">
                <label class="sr-only" for="Fullname">Fullname</label>
                <div class="input-group">
                    <i class="input-group-text fa fa-user-o"></i>
                    <input type="Fullname" class="form-control" name="Fullname" id="Fullname" placeholder="Fullname" value="{{ Fullname }}" required>                  

                </div>

                <label class="sr-only" for="Email">Email</label>
                <div class="input-group">
                    <i class="input-group-text fa fa-envelope"></i>
                    <input type="Email" class="form-control" name="Email" id="Email" placeholder="Email" value="{{ Email }}" required>                   
                </div>
                     {% comment %} {% for messages  in messages  %}
                        <h6 style="color: red; margin-left: 100px;">{{messages}}</h6>              
                     {% endfor %}
                <br> {% endcomment %}

                <label class="sr-only" for="Username">Username</label>
                <div class="input-group">
                    <i class="input-group-text fa fa-user-o"></i>
                    <input type="Username" class="form-control" name="Username" id="Username" placeholder="Username" value="{{ Username }}" required>
                </div>
                {% for messages  in messages  %}
                <h6 style="color: red; margin-left: 100px;">{{messages}}</h6>              
             {% endfor %}

                <label class="sr-only" for="Password">Password</label>
                <div class="input-group">
                    <i class="input-group-text fa fa-key"></i>
                    <input type="Password" class="form-control" name="Password" id="Password" placeholder="Password" value="{{ Password }}" required>
                    {% comment %} <div class="input-group-append"></div> {% endcomment %}
                </div><br>

                {% comment %} <div class="remember">
                    <span>Remember Me</span>
                    <input class="remember-input" type="checkbox" id="userRemember">
                    <label class="remember-label" for="userRemember">
                      <i class="fa fa-check"></i>
                    </label>
                </div> {% endcomment %}
                <input type="submit" value="Sign In" class="btnsign"><hr>
                <center>
                <div class="signp">
                    <p class="link">Already have an account ?<br>
                    <a href="/userlogin">Login</a> here</p>
                    
                </div>
                </center>
            
            </div>
        </div>
       
        <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>   

    </form>
</body> 
{% endblock body %}

